{% extends "registration/basic_registration.html" %}

{% load static %}

{% block title%} Выход {% endblock %}

{% block content %}

<form class="form-signin" action="{% url 'login' %}" method="post">
  {% csrf_token %}

  <img class="mb-4" src="{% static "logo.svg" %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Благодарим вас за время, проведенное на этом сайте.</h1>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти заново</button>
  <br>
  <a href="/"> На главную страницу</a>
  <p class="mt-5 mb-3 text-muted">© Просто магазин 2018</p>
</form>

{% endblock %}