{% extends "registration/basic_registration.html" %}

{% load static %}

{% block title%} Аунтефикация {% endblock %}

{% block content %}

<form class="form-signin" action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <img class="mb-4" src="{% static "logo.svg" %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Вход</h1>

  {% if form.errors %}
    <p class="mt-5 mb-3"> Неверный пароль или имя пользователя </p>
  {% endif %}

  <label for="inputEmail" class="sr-only">Логин</label>
  <input type="login" id="inputEmail" class="form-control" placeholder="Логин" name="username"
         value="" required="" autofocus="" data-cip-id="inputLogin">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
         name="password" required="" data-cip-id="inputPassword">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  <br>
  <a href="{% url 'register' %}">Регистрация</a>
  <br>
  <a href="/"> На главную страницу</a>

  <p class="mt-5 mb-3 text-muted">© Просто магазин 2018</p>
</form>
{% endblock %}

